@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: azure;
}

.container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    display: flex;
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
li{
    text-align: none;
}
li a {
    text-decoration: none;
}
 ul li a:hover{
    /* border:5px solid rgb(217, 17, 17); */
    background-color: rgb(217, 17, 17) ;
    color:white;
    text-decoration: none;
   
    
   
}


.topleft{
    width: 50%;
}

.topright{ 
    width: 50%;
}

.section1{
   max-height: 100vh; 
   color: #711e15;
}

.section1 h1{
    color: #37110d;
    font-size: 2rem;
}

.logo{
    font-size: 1.3rem;
}

.dumbellimg{
    width: 289px;
    box-shadow: 2px 0px 4px 1px green,4px 2px 5px 1px yellowgreen;
    border-radius:50%;
}

.topright .gymimg{
    width: 466px;
}

.section2{
    padding: 73px;
    
}

.section2 h1{
    font-size: 2.3rem;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box{
    padding: 80px 5px;
    margin:150px 22px;
    min-width: 20vw;
    border: 2px solid rgb(120, 54, 16);
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 5px 0;
    margin-left:60px;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
   margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid black;
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 2px solid black; 
} 
 

.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 73px;
}

footer{
    padding: 23px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}
.buttons:hover{
  color:rgb(17, 115, 17)

}
.btn:hover{
  color:rgb(244, 247, 244);
  background-color: rgb(14, 104, 14);
}
.btn a{
  text-decoration: none;
  color: white;
}
.btn a:hover{
  color:rgb(244, 247, 244);
  background-color: rgb(14, 104, 14);
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}



 









